{% extends 'base.html' %}
{% block heading %}
Dashboard
{% endblock heading %}
{% block dashcontent %}
<div class="content">
<h3> Devices </h3>
<table>
<tr>
    <th>Cam Name</th>
    <th>Status</th>
    <th>Note</th>
</tr>
{% for i in cam %}
<tr>
    <td>{{i.camname}}</td>
    {% if online%}
    <td>online<span class = "dotgreen"></span></td>
    {%else%}
    <td>online<span class = "dotgreen"></span></td>
    {% endif %}
    <td>{{i.note}}</td>
</tr>
{% endfor %}
</table>
</div>
{% endblock dashcontent %}
